extends layout

block content
  h1= title
  p Camera results
  div(class="container-fluid")
        div(class="row")
            -
                let details = [
                    {
                        "cName": "Canon",
                        "cPixels": "1080p",
                        "cCost": 2000
                    },
                    {
                        "cName": "Nikon",
                        "cPixels": "1720p",
                        "cCost": 7500
                    },
                    {
                        "cName": "Sony",
                        "cPixels": "720p",
                        "cCost": 1500
                    },                   
                ]
            each c,index in details
                div(class="col-sm-2" onclick=`buy(${index})`) #{c.cName}
                div(class="col-sm-2" onclick=`buy(${index})`) #{c.cPixels}
                div(class="col-sm-2" onclick=`buy(${index})`) #{c.cCost}

                script.                
                      function buy(itemNo)
                      {
                            alert(`You purchased item ${itemNo+1}`)
                      }